.idea
node_modules
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/js
/web/css
/web/cachebust.json
/web/index.html
/web/dran.html
/web/chat.html
/web/editor.html
/web/game.html
/web/newgame.html
