header {
  background-image: url(/images/head.jpg);
  background-position: -4px 0;
  height: 51px;
  @media all and(max-width: @media-medium-breakpoint) {
    height: 21px;
  }
}

#userInfoBar {
  float: right;
  margin-right: 10px;
  margin-top: 20px;
  @media all and(max-width: @media-medium-breakpoint) {
    display: none;

  }
}
