header {
  background-image: url(/images/head.jpg);
  background-position: -4px 0;
  height: 21px;
  @media all and(min-width: @media-small-breakpoint) {
    height: 51px;
  }
}

#userInfoBar {
  position: absolute;
  right: 10px;
  top: 20px;
  text-align: right;
}
