<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Karopapier{% endblock %} - Autofahren wie in der Vorlesung</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        {% block headjavascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    <footer>
        <small>
            Dass diese Seite so unformatiert aussieht, hat einen Grund.
            Wäre sie fein kariert, würdet Ihr glauben, es sei fertig und man müsste mich schon mal auf Fehler hinweisen oder Verbesserungen vorschlagen.
            Aber wichtig war ja nur erst mal, dass es funktioniert, damit ich die Wette gegen Sly gewinne - wegen des Ciders.
            Der Deal war, dass ich im Juni fertig bekomme, dass man "eigene Karten spielen kann"... Hat nur leider nicht ganz geklappt...
            Es mag vielleicht noch nicht alles super prkatisch sein, aber das kommt noch. Der Grundstein ist gelegt.
            Wenn dann auch unter der Haube alles richtig tut, bekommt die Seite das Layout, das sie verdient.
            Und auch so mit Integration vom
            <a href="//2.karopapier.de/editor.html">KaMEL</a> und Probefahren und so Schnickschnack. 2028!
        </small>
    </footer>
</html>
