<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Karopapier{% endblock %} - Autofahren wie in der Vorlesung</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        {% block headjavascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    <footer><small>Dass diese Seite so unformatiert aussieht, hat einen Grund. Wäre sie fein kariert, würdet Ihr glauben, es sei fertig und man müsste mich schon mal auf Fehler hinweisen.
        Fehler hat die aber genug, daher sieht die jetzt erst mal weiter so aus und erst, wenn auch unter der Haube alles tut, bekommt die das Layout, das sie verdient.</small></footer>
</html>
