{% block footer %}
    <hr width="75%">
    <div class="small center" style="text-align: center; font-size: 80%">Präsentiert von:
        <a href="https://github.com/karopapier/Karopapier">Die Zukunft des Karopapiers&trade;</a>
    </div>
    {% set msg = lastchatmessage() %}
    <p>
        Letzter Satz im <a href="/chat">Chat</a>:<br/>
        <B>{{ msg.login }}</B> ({{ msg.ts|date('H:i') }}): {{ msg.text }}
    </p>
{% endblock %}
