.chat-wrapper {
  display: flex;
}

.chat-messages-container {
  overflow-y: scroll;
  flex: 1;
}

.chat-message {
  word-break: break-word;
}

.chat-info-container {
  // desktop width
  @media (min-width: @media-medium-breakpoint) {
    width: 250px;
  }

  // no info on mobile
  @media (max-width: @media-medium-breakpoint) {
    display: none;
  }
}

// unless info mode on mobile
.chat-info-mode {
  @media (max-width: @media-medium-breakpoint) {
    .chat-info-container {
      display: flex;
    }

    .chat-messages-container {
      display: none;
    }

    .chat-footer {
      display: none;
    }
  }
}

.chat-users {
  list-style: none;
  padding-left: 0;
}
