.clickable {
  cursor: pointer;
}

.js-selected .contact-list-wrapper {
  display: none;
}

@media (min-width: 600px) {
  .js-selected .contact-list-wrapper {
    display: block;
  }

  .backnav {
    display: none;
  }
}

.js-unselected .backnav {
  display: none;
}

.selected {
  font-weight: bold;
  background-image: url(/images/unterstrich.png);
  background-repeat: no-repeat;
  background-position: 0 15px;
  width: 100px;
}

#messaging {
  display: flex;
}

.contact-list-wrapper {
  width: 260px;
}

.message-wrapper {
  flex: 1;
}

.message-list {

}

.send-view {

}

.date-separator {
}

.message-rx {
}

.message-tx {
}


