{% extends 'base.html.twig' %}

{% block headjavascripts %}
    <script src="/js/libs/underscore-1.8.3.js"></script>
    <script src="/js/libs/backbone-1.3.3.js"></script>
    <script src="/js/libs/backbone.radio-2.0.0.js"></script>
    <script src="/js/libs/backbone.marionette-3.4.3.js"></script>
{% endblock %}

{% block body %}
    <style type="text/css">
        .clickable {
            cursor: pointer;
        }

        .js-selected .contact-list-wrapper {
            display: none;
        }

        @media (min-width: 600px) {
            .js-selected .contact-list-wrapper {
                display: block;
            }

            .backnav {
                display: none;
            }
        }

        .js-unselected .backnav {
            display: none;
        }

        .selected {
            font-weight: bold;
            background-image: url(/images/unterstrich.png);
            background-repeat: no-repeat;
            background-position: 0 15px;
            width: 100px;
        }

        #messaging {
            display: flex;
        }

        .contact-list-wrapper {
            width: 260px;
        }

        .message-wrapper {
            flex: 1;
        }

        .message-list {

        }

        .send-view {

        }

        .date-separator {
        }

        .message-rx {
        }

        .message-tx {
        }


    </style>
    <h1 class="karoborder">Zettel schreiben</h1>

    <p>Hier kannst Du Deinen Mitspielern einen Zettel schicken, den dann hoffentlich die Sitznachbarn weitergeben ohne reinzuschauen.</p>
    <div id="messaging">Loading...</div>
{% endblock %}

{% block javascripts %}
    <script type="text/template" id="send-template">
        An <%= login %>: <input type="text" class="send-text"/>
        <input type="submit" value="Schicken"/>
    </script>

    <script type="text/template" id="addcontact-template">
        Neu:
        <div class="autowrapper" style="display: inline-block; position: relative">
            <input type="text" placeholder="Benutzername">
            <div class="js-auto" style="position: absolute; top: 10px"></div>
        </div>
        <button>Hinzu</button>
    </script>

    <script type="text/template" id="contact-template">
        <%= login %> |<%= uc %>|
    </script>

    <script type="text/template" id="messaging-template">
        <div class="contact-list-wrapper">
            <div><b>Zettelsammlung</b></div>
            <div class="contact-list"></div>
            <div class="contact-add"></div>
        </div>
        <div class="message-wrapper">
            <span class="backnav"><img src="/images/knickohr.jpg"></span>
            <span class="contact-info"></span>
            <div class="message-list"></div>
            <div class="send-view"></div>
        </div>
    </script>

    <script type="text/template" id="message-template">
        <% if (dateSeparator) { %>
        <div class="date-separator">---------------- <%= formatTsIsoDate(ts) %> ----------------</div><% } %>
        <div class="message-<%= rxtx %>">
            <b><% if (rxtx=="rx") { %><%= contact_name %><% } else { %><%= user_name %><% } %></b> (<%= formatTs(ts) %>): <%- text %>
        </div>
    </script>

    <script src="{{ asset('js/KaroApp.dev.js') }}"></script>
{% endblock %}
