{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="karoborder">Zettel schreiben</h1>
    <p>Hier kannst Du Deinen Mitspielern einen Zettel schicken, den dann hoffentlich die Sitznachbarn weitergeben ohne reinzuschauen.</p>
    <div id="messaging">Loading...</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/KaroApp.dev.js') }}"></script>
{% endblock %}
