<div class="messaging-wrapper">
    <h1 class="karoborder">Zettel schreiben</h1>
    <p>Hier kannst Du Deinen Mitspielern einen Zettel schicken, den dann hoffentlich die Sitznachbarn weitergeben
        ohne reinzuschauen.</p>
    <div class="messaging">
        <div class="contact-list-wrapper">
            <div><b>Zettelsammlung</b></div>
            <div class="contact-list"></div>
            <div class="contact-add"></div>
        </div>
        <div class="message-list-wrapper">
            <span class="backnav"><img src="/images/karoicons/knickohr.jpg"></span>
            <span class="contact-info"></span>
            <div class="message-list"></div>
            <div class="send-view"></div>
        </div>
    </div>
</div>
