<h1 class="karoborder">KaroBART</h1>

<p>
    Dieser KaroBART (Bindran-Alarm in Real-Time) zeigt Dir sofort, wo Du dran bist.<br>
    Nur wenige Millisekunden nachdem ein Mitspieler seinen Zug gemacht hat und Du somit dran bist, siehst Du es hier!
</p>

<p>
    Echtem Karo-Live-Stress steht jetzt nichts mehr im Weg!!!
</p>

<div class="gamesort-selector">SORT</div>

<table>
    <thead>
        <tr>
            <th>Karte</th>
            <th>Name</th>
            <th>Dran</th>
            <th>seit</th>
        </tr>
    </thead>
    <tbody class="game-list"></tbody>
</table>

