<h3>Name</h3>
<input type="text" class="newgame-name-field">
<img src="/images/dice.png" title="Was zufälliges aus der Wikipedia" class="newgame-random-wiki">
<img src="/images/dice.png" title="Was zufälliges vom Chefkoch" class="newgame-random-chefkoch">
<img src="/images/dice.png" title="Was zufälliges aus der Volkswurst" class="newgame-random-volkswurst">
<img src="/images/dice.png" title="Was zufälliges vom Managerator" class="newgame-random-managerator">
<img src="/images/dice.png" title="Was zufälliges vom Sprichwortrekombinator" class="newgame-random-sprichwort">
