<div class="block-row">
    <div class="newgame-name"></div>
</div>

<div class="block-row">
    <div class="newgame-block">
        <h3>Verfügbare Spieler</h3>
        <div class="playerfilter"></div>
        <div class="playerlist"></div>
    </div>

    <div class="newgame-block">
        <h3>Ausgewählt</h3>
        <div class="selectedlist"></div>
        Zufall-Checkbox
    </div>

    <div class="newgame-block">
        <h3>Karte</h3>
        <input type="number" value="1">
        <div class="map-canvas"></div>
        <div class="map-info"></div>
        Zufall-Checkbox
    </div>
</div>

<div class="block-row">
    <input type="checkbox" checked="checked">Einstellungen behalten
    <input type="checkbox" checked="checked">Spiel sofort starten
    <button>Anlegen</button>
</div>
