<span class="small chatInfo">Wer in den letzten 60 Sekunden da war, sortiert nach Althasigkeit</span><br/>
<ul class="chat-users"></ul>
<span class="quicktip quicktip-help quicktip-fixed" data-quicktip="Hastig akkumulierte Blockersumme derer im Chat"
      title="Hastig akkumulierte Blockersumme derer im Chat">HABDICH: </span>
<span class="chat-habdich">-</span>
<br/>
<div class="chat-dran-info"></div>

<div id="chatInfoGames">
    <span id="chatInfoBlockerRank">Türchen</span><br>
    <span id="chatInfoTopBlocker">Türchen</span><br>
</div>
<div id="chatBlockerInfo">
    <!-- <div class="clearer"></div> -->
    <script type="text/javascript">
        function drehItAll() {
            var html = document.getElementsByTagName('html')[0];
            html.style.transform = 'rotate(1440deg)';
            html.style.transition = '240s';
        }
    </script>
    <button style="background-color: black; color: white" onclick="drehItAll()">DO NOT PRESS!!</button>
</div>
<div class="chat-karolenderblatt">BLATT</div>
