<span class="small chatInfo">Wer in den letzten 60 Sekunden da war, sortiert nach Althasigkeit</span><br/>
<ul class="chat-users"></ul>
<span class="quicktip quicktip-help quicktip-fixed" data-quicktip="Hastig akkumulierte Blockersumme derer im Chat"
      title="Hastig akkumulierte Blockersumme derer im Chat">HABDICH: </span>
<span class="chat-habdich">-</span>
<br/>
<div id="chatInfoGames">
    <div id="chatInfoDran"><a target="ibndran" href="/dran">Türchen</a></div>
    <span id="chatInfoBlockerRank">Türchen</span><br>
    <span id="chatInfoTopBlocker">Türchen</span><br>
</div>
<div id="chatBlockerInfo">
    <!-- <div class="clearer"></div> -->
    <button style="background-color: black; color: white" onclick="$('html').css({transform:'rotate(1440deg)',transition: '240s'})">DO NOT
        PRESS!!
    </button>
</div>
